# Laravel & PHP
/vendor
/node_modules
/.env
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Composer
/composer.lock

# Editor specific files
/.idea
/.vscode
